<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSExpression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSUbiquitousKeyValueStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>747EA5E315D7C71F00D8A5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747EA60715D7C71F00D8A5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DC27051697D315007989A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74DC272A1697D315007989A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
